input{
    border: 2px solid #9999;
    border-radius: 22px;

    width: 70%;
    height: 80px;
    margin-left: 5px;
    padding: 10px;


    font-size: 1em;
    text-align: center;
    background: transparent;
    color: #FFFF;
}

@media screen and (min-width: 760px) {
    input{
        width: 500px;
    }
}