.btn{
    border: 2px solid #9999;
    border-radius: 22px;

    width: 100px;
    padding: 10px;
    margin-left: -60px;

    font-size: 1em;
    text-align: center;
    background: #2D333B;
    color: #FFFF;
  
    cursor: pointer;
}

.btn:active{
    transform: translateY(2px);
}